@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

/* LOGIN CSS */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.welcomeText {
  text-align: center;
  padding: 50px;
  color: white;
  width: 350px;
  /* border: 1px solid; */
}

.signupForm {
  display: none;
}

.loginForm,
.signupForm {
  border: solid 1px white;
  padding: 30px;
  border-radius: 10px;
  color: white;
  width: auto;
}

.headerLogin,
.headerSignup {
  text-align: center;
  padding-bottom: 40px;
  font-size: 1.5rem;
  font-weight: 800;
  font-style: bold;
  color: white;
  width: 350px;
}

.loginForm > form > div > label {
  font-size: 12px;
  font-weight: 300;
}
.signupForm > form > div > label {
  font-size: 12px;
  font-weight: 300;
}

.loginIcon {
  position: absolute;
  margin: 5px;
  padding-right: 10px;
}

.username {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  color: white;
}

.username > input {
  background: none;
  outline: none;
  border: none;
  border-bottom: solid 1px white;
  padding: 10px;
  padding-left: 35px;
  color: white;
}

.password {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  color: white;
}

.password > input {
  background: none;
  outline: none;
  border: none;
  border-bottom: solid 1px white;
  padding: 10px;
  padding-left: 35px;
  color: white;
}

.forgotPassword {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.forgotPassword > label > a {
  text-decoration: none;
  color: white;
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;;
  padding-top: 20px;
  padding-bottom: 15px;
}

.loginButton > label {
  cursor: pointer;
  width: 100%;
}

.loginButton > label > button {
  outline: none;
  border: none;
  border-radius: 100px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  color: white;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

.signupButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

.signupButton > button {
  outline: none;
  border: none;
  border-radius: 100px;
  padding: 10px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  color: white;
  cursor: pointer;
  width: 300px;
}

.signup {
  text-align: center;
  margin: -15px;
}

.signup > label , a {
  text-decoration: none;
  color: white;
}

/* Hover */

[transition-style="in:circle:center"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
}

/* skipped these thing, not necessarily */

.divisionText {
  display: flex;
  align-items: center;
  padding-top: 3.5rem;
  padding-bottom: 0.75rem;
}

.line {
  height: 0.1px;
  flex: 1 1 0%;
  background-color: white;
}

.divisionText > .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 12px;
  color: white;
}

.signWith {
  border: solid 1px lightgrey;
  border-radius: 100px;
  background-color: whitesmoke;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  width: auto;
}

.iconText {
  text-align: center;
  padding: 10px;
}

.iconText > div > button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  width: 100%;
}

.icon {
  display: flex;
  align-items: center;
}

.icon > img {
  background-color: white;
  border-radius: 100px;
  padding: 5px;
  margin: 5px;
  margin-top: 45px;
  height: 17px;
  position: absolute;
}

/* SIGN UP CSS */


@media screen and (max-width: 768px) {
  .container, .welcomtext {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
 .welcomeText{
  font-size: 10px;
 }

  .loginForm{
    padding: 30px;
  }

  .headerLogin,
.headerSignup {
  width: 250px;
}
}
