.loginPhase {
    backdrop-filter: blur(25px);
    background: transparent;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .backgroundPic {
    background: url("./components/images/universe.jpg") no-repeat;
    background-size: cover;
    background-position: center; 
    position: fixed;
    height: 100vh;
    width: 100vw;
  }
  
  .App {
    background-color: #f2f2ef;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .app__body {
    display: flex;
  }